#header{
  height: 30rem;
  background-image: url('./../img/coffeewp.jpg');
  background-size: cover;
}
#opacityHeader{
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.65);
}
#rowHeader{
  height: 100%;
}
#titleHeader{
  height: 100%;
}
#titleHeaderTop{
  height: 10%;
}
#titleHeaderMid{
  height: 50%;
  background-image: url('./../img/compalogo.png');
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}

/*filter section*/
#searchDiv{
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 1);
}
.row{
}
.mdl-textfield{
  margin-left: 5rem;
  width: 80%;
}
/*filter section*/

/*compare section*/
#compareDiv{
  height: 17rem;
}
#compareBtnDiv{
  height: 100%;
}
#compareBtn{
  margin-top: 6rem;
  margin-left: 3rem;
}
#compareTxt{
  color: #FFDD1B;
  font-size: 85px;
  font-family: Pacifico;
}
#compareBtn #compareTxt:hover {
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}
@-moz-keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}
@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}
/*compare section*/

/*grid section*/

.demo-card-square.mdl-card {
  width: 23rem;
  height: 30rem;
}
.demo-card-square > .card-title {
  color: #fff;
  height: 200px;
}
.card-title > .mdl-card__title-text{

}
.mdl-card__supporting-text{
  width: 100%;
}
.mdl-card__actions{
  position: absolute;
}
.mdl-grid{
  margin-top: 15px;
}
.mdl-cel{
  margin-left: 25px;
  margin-right: 15px;
  margin-bottom: 20px;
}
.mdl-button{
  opacity: .8;
}

#tile1{
  background-color: #7fc41b;
  flex-direction: row;
  align-items: flex-end;
}
#tile2{
  background-color: #d77e00;
  flex-direction: row;
  align-items: flex-end;
}
#tile3{
  background-color: #E1E576;
  flex-direction: row;
  align-items: flex-end;
}
#tile4{
  background-color: #e0161e;
  flex-direction: row;
  align-items: flex-end;
}
#tile5{
  background-color: #14950F;
  flex-direction: row;
  align-items: flex-end;
}
#tile6{
  background-color: #900F95;
  flex-direction: row;
  align-items: flex-end;
}
.mdl-card__title{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  width: 100%;

}
.modal-dialog{
  width: 70%;
  height: 700px;
}
.modal-content{
  width: 100%;
  height: 100%;
}
.modal-body{
  height: 90%;
}
.rowModal{
  /*height:500px;*/
  margin-bottom: 20px;
}
.impar{
  background: rgba(0, 0, 0, 0.05);
}
.mc-content{
  height: 23rem;
}
.mc-description{
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -70px;
  margin-top: -20px;
}

/*Amazon section*/
.imgAmazon{
  height: 100%;
  text-align: center;
}
.imgAmazon a img{
  height: 100%;
  width: auto;
  mix-blend-mode: multiply;
}
#divAmazon{
  height: 100%;

}
